header{
    text-align: center;
    color: rgb(253, 252, 252);
}
body{
    background-color: rgb(183, 183, 247);
    font: normal 15pt arial
}
section{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding:15px;
    width: 500px;
    margin: auto;
    filter: drop-shadow(10px 10px 10px rgba(102, 96, 96, 0.575));
}
footer{
    text-align: center;
    font-style: italic;
}